/* css 1

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
    list-style: none;
}
.post_avatarPerfil img{
    border-radius: 100%;
    height: 100px;
    
}
.background{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/img/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
   
}

body{
    padding-left: 30rem;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    background: rgb(110, 108, 108);
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 30rem;
}
.cabeçalho-link{
    display: block;
    font-size: 2rem;
    font-weight: 300;
    cursor: pointer;  
}

.cabeçalho-link a{
     color: #fff;
    font-size: 23px;
}

.cabeçalho-link a:hover{
    color:  #50b7f5;
    transition: 0.3s all;
}

.redes-social{
    margin-top: 10px;
}

.redes-social a{
    color:#f7f8f8;;
    padding: 10px;
    margin-top: 0.5rem;
}
.redes-social i{
    font-size: 2.5rem;
}

.redes-social a:hover{
    transition: 0.3s all;
}


 */ 

/* Css 2 */

 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    overflow: hidden;
}

.background{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/img/background.jpg);

    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
   
}
.post_avatarPerfil img{
    border-radius: 100%;
    height: 100px;
    
}


header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
   
    
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;  
}

.cabeçalho-link a{
    color: #fff;
    font-size: 23px;
}

.cabeçalho-link a:hover{
    color:  #50b7f5;
    transition: 0.3s all;
}

.logo i{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #50b7f5;
    color: #50b7f5;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}


button{
    color: #50b7f5;
    background: transparent;
    border:solid 1px #50b7f5;
    padding: 5px;
    border-radius: 15px;
    font-size: 22px;
    cursor: pointer;
    width: 150px;
}

button:hover{
    background-color: #50b7f5;
    color: #fff;
    transition: 0.5s;
}

.container-text{
    padding: 150px 0 0 130px;
}



.text h1{
    color: #fff;
    margin-top: 23px;
}

.text span{
    color: #50b7f5; 
}

.text p{
    text-align: left;
    color: #fdf9f9;
    font-weight: 500;
    margin-top: 10px;
    font-size: 18px;
}

.redes-social{
    margin-top: 10px;
}

.redes-social a{
    color: #fafafa;
    padding: 10px;
    margin-top: 5px;
}
.redes-social i{
    font-size: 22px;
}

.btn{
    margin-top: 22px;
}

@media screen and (max-width:600px){
    .cabeçalho-link {
        display: none;
    }
    
}
